body {
	background-color: LightGray;
}


main{
	padding: 10rem;

}
h1{
	margin-left: 200px;
	margin-top:  120px;
	margin-bottom: -75px;
	font-size: xx-large;
}

section h2{
	background-color: #8B7470;
	color: black;
	font-size: xx-large;
	width: 700px;
	margin-bottom: 30px;
	border-radius: 10px;
	text-align: center;
}
h3{

	margin: 15px 15px;
	padding-left: 25px;
	margin-left: 200px;
	margin-right: 200px;
	font-size: large;
}
article {
	display: inline-block;
	background-color: #AD7268;
	width: 700px;
	height: 700px;
	border: 3px;
	border-radius: 10px;
	margin-bottom: 75px;
	padding-bottom: 10px;

}
.footertable td {
	background-color: #9999ff;
	padding: 10px;
	width: 180px;
	border: #0099cc solid;
	border-radius: 4px;
}
#InvestigacionEco{
	display: inline-block;
	width: 1200px;
	height: 300px;
	margin-bottom: 75px
	border: 2px ;
}
#tituloinvest{
	width: 1200px;

}

p {
	margin: 2px 2px;
}

.navigationbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navigationbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdownbutton {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navigationbar a:hover, .dropdown:hover .dropdownbutton {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


