/* HEADER */
.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	background: #00cc66;
	color: #ffffff;
	padding: 20px 0;
}

.jumbotron .title {
	font-size: 70px;
}

/* POST */

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid red;
}

.post .post-title a {
	color: black;
}

.post .thumb {
	margin-right: 10px;
	width: 40%;
}

.post .contenedor-botones {
	width: 100%;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		float: left;
	}
}

@media screen and (max-width: 768px) {
	.jumbotron .title {
		font-size: 50px;
	}
}


/*  ASIDE */

aside h4 {
	text-align: center;
	border-bottom:  10px solid white;
	background-color:  #b3ffb3;
	margin-top: 19px;
}
aside img {
	width: 65px;
	margin-right: 25px;
	margin-left: 25px;
}

aside div {
	background-color:  #b3ffb3;
	border: 2px solid;
}

/*  PUBLICIDAD */

.publi {
	height: 90px;
	width: 90px;
	float: left;
	margin-left: 15px;
}
.publi h4 {
	text-align: center;
	border-bottom:  10px solid white;
	background-color:  #b3ffb3;
	margin-top: 19px;
	font-size: 14px;
}
.publi img {
	width: 65px;
	margin-top: 10px;
}

.publi div {
	background-color:  #b3ffb3;
	border: 2px solid;
}

/* CLOCK */

.wrap {
	margin-left: 25%;
	max-width: 300px;
	float: right;
	margin-top: 0px;

}

.widget p  {
	display: inline-block;
	line-height: 1em;
}

.date {
	color: white;
	font-family: Oswald, Arial;
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 0.3125rem; /* entorno a 5px */
	background: rgba(0,0,0,.5); /* Transparencia .5 */ 
}

.clock {
	font-size: 3em;
	color: white;
	font-family: Oswald, Arial;
	text-align: center;
	background: rgba(0,0,0,.5); /* Transparencia .5 */
	margin-bottom: 0.3125rem; /* entorno a 5px */
}

.clock .secondsBox {
	display: inline-block;
}

.clock .seconds,
.clock .ampm {
	display: block;
	font-size: 1.7rem;
}

/* NEWS 1 & 2 */

.foto {
	width: 100%;
}

.pN1 {
	font-size: large;
}

.video {
	width: 100%
}

.photo {
	width: 250px;
	float: right;
	margin-right: -15%;
	margin-top: -60%;
}
