/* HEADER */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	background: #00cc66;
	color: #ffffff;
	padding: 20px 0;
}

.jumbotron .title {
	font-size: 70px;
}

/* POST */

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid red;
}

.post .post-title a {
	color: black;
}

.post .thumb {
	margin-right: 10px;
	width: 40%;
}



.post .contenedor-botones {
	width: 100%;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0px;
	}
}

.list-group-item {
	background-color: #00cc66;
}

aside h4 {
	text-align: center;
	border-bottom:  10px solid white;
	background-color:  #b3ffb3;
	margin-top: 19px;
}
aside img {
	width: 65px;
	margin-right: 15px;
	margin-left: 15px;
}

aside div {
	background-color:  #b3ffb3;
	border: 2px solid;
}

.wrap {
	width: 90%;
	max-width: 150px;
}

.widget {
	width: 40%;
	margin: 2em; /* entorno a 32px */
}

.widget p  {
	display: inline-block;
	line-height: 1em;
}

.date {
	font-family: Oswald, Arial;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0.3125rem; /* entorno a 5px */
	margin-top: 5rem; /* entorno a 50px */
	background: rgba(0,0,0,.5); /* Transparencia .5 */
	padding: 20px;
	width: 100%;
}

.clock {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 20px;
	font-size: 4em;
	text-align: center;
	background: rgba(0,0,0,.5); /* Transparencia .5 */
}

.clock .seconds-box {
	display: inline-block;
}

